* {
  font-family: "Poppins", sans-serif;
}

#header {
  display: flex;
  justify-content: center;
  height: 120px;
  background-color: #daac00;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .logo img {
  max-width: 212px;
  display: inline;
}

#header .menu {
  flex: 1;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

#header .menu li {
  margin-right: 40px;
  display: inline;
}

#header .menu li a {
  color: #fff;
}

#header .input {
  display: flex;
  flex-direction: row;
  box-shadow: 16px 17px 18px rgba(74, 74, 74, 0.1);
}

#header .input-search {
  background-color: #fbc301;
  padding: 15px;
  width: 200px;
  height: 50px;
  font-size: 18px;
}

#header input::placeholder {
  color: #fff;
}

#header .btn-search {
  width: 70px;
  height: 50px;
  color: #fff;
  background-color: #00bdc9;
  font-size: 24px;
  letter-spacing: 1px;
}

#header .btn-search:hover {
  background-color: #028993;
  transition: 1s;
}

#header .menu li .active-menu {
  color: #00bdc9;
}

#header .active-menu i {
  margin-right: 10px;
  font-size: 15px;
  color: #00bdc9;
}

#header .menu .hover-menu:hover {
  color: #028993;
  transition: 1s;
}

#banner {
  display: flex;
  justify-content: center;
  height: 780px;
  background-color: #fbc301;
}

#banner .banner-content .banner-content-tittle {
  color: #fff;
  font-size: 67px;
  line-height: 80px;
  font-weight: 600;
  margin-bottom: 50px;
  letter-spacing: 1px;
}
#banner .banner-content .banner-content-desc {
  color: #fff;
  font-size: 29px;
  line-height: 43.5px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

#banner .banner-content .btn-1,
.btn-2 {
  width: 182px;
  height: 70px;
  padding: 15px;
  border-radius: 7px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  margin-right: 30px;
}
.btn-1 {
  background-color: #00bdc9;
}

.btn-2 {
  border: 3px solid #fff;
  background-color: #fbc301;
}

#banner .btn-1:hover {
  background-color: #028993;
  transition: 1s;
}

#banner .btn-2:hover {
  background-color: #daac00;
  border: none;
  transition: 1s;
}

#banner .banner-photo img {
  max-width: 420px;
  transform: scaleX(-1);
}

.content {
  padding: 140px 0;
  box-sizing: border-box;
  background-color: #fff;
}

.content .content-head .content-head-tittle {
  font-size: 50px;
  font-weight: 600;
  color: #313243;
  line-height: 60px;
  margin-bottom: 50px;
}

.content .content-head .content-head-desc {
  color: #313243;
  font-size: 29px;
  line-height: 43.5px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.content .content-head .btn-2 {
  background-color: #fbc301;
  width: 182px;
  height: 70px;
  padding: 15px;
  border-radius: 7px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
}

.content .content-head .btn-2:hover {
  background-color: #daac00;
}

.content-video {
  position: relative;
  margin-left: 90px;
}

.content .content-video .bg {
  width: 252px;
  height: 206px;
  background-color: #fdd345;
  position: absolute;
  z-index: 0;
  bottom: -30px;
  left: -30px;
}

.content .video-thumb .mask-thumb {
  width: 506px;
  height: 480px;
  position: absolute;
  z-index: 2;
  background-color: rgba(217, 171, 0, 0.3);
}

.content .video-thumb {
  max-width: 506px;
  position: relative;
  z-index: 1;
}

.content .content-video .circle-bg {
  width: 80px;
  height: 80px;
  border-radius: 42px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .circle-bg .video-icon-play {
  color: #fbc301;
  font-size: 32px;
}

#service,
#products {
  padding: 100px 0;
  background-color: #fbc301;
}

#service .service-head,
#products .products-head {
  text-align: center;
  color: #fff;
  max-width: 760px;
  margin: 0 auto;
}

#service .service-head .service-head-tittle,
#products .products-head .products-head-tittle,
#team .team-head .team-head-tittle {
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 50px;
}

#service .service-head .service-head-desc,
#products .products-head .products-head-desc,
#team .team-head .team-head-desc {
  font-size: 33px;
  margin-bottom: 100px;
}

#service .service-list,
#products .products-list,
#team .team-list,
#info .info-content-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#service .service-list .service-item-list .item-list-img,
#products .products-list .products-item-list .item-list-img,
#team .team-list .team-item-list .item-list-img {
  margin-bottom: 50px;
}

#service .service-list .service-item-list .item-list-head {
  max-width: 342px;
  text-align: center;
  color: #fff;
}

#service .service-list .item-list-head .list-head-tittle {
  margin-bottom: 25px;
  font-size: 38px;
  font-weight: 600;
}

#service .service-list .item-list-head .list-head-desc {
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 35px;
}

/* .content reverse*/
.text-right {
  text-align: right;
  margin-left: 90px;
}

.video-left {
  margin-left: 0;
}

.video-left .bg-2 {
  width: 252px;
  height: 206px;
  background-color: #fdd345;
  position: absolute;
  z-index: 0;
  bottom: -30px;
  right: -30px;
}

#products .products-list .products-item-list .item-list-head {
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  max-width: 210px;
}

#products .products-list .products-item-list .item-list-head .list-head-price {
  color: #fff;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 30px;
}

#products .products-list .products-item-list .btn-rounded {
  background-color: #00bdc9;
  width: 200px;
  height: 60px;
  font-size: 25px;
  color: #fff;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
}

#products .products-list .products-item-list .btn-rounded:hover {
  background-color: #028993;
  transition: 1s;
}

#team {
  padding: 100px 0;
  background-color: #fff;
}

#team .team-head {
  text-align: center;
  color: #313243;
  max-width: 760px;
  margin: 0 auto;
}

#team .team-list .team-item-list {
  text-align: center;
}

#team .team-list .team-item-list .team-head-tittle {
  font-size: 29px;
  color: #313243;
  font-weight: 700;
  margin-bottom: 20px;
}

#team .team-list .team-item-list .team-head-desc {
  font-size: 25px;
  text-transform: uppercase;
  color: #313243;
  margin-bottom: 20px;
}

#team .item-list-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 180px;
  margin: 0 auto;
}

#team .item-list-links .link-midias .icon {
  font-size: 20px;
  color: #fff;
}

#team .item-list-links .link-midias .bg-circle {
  background-color: #fbc301;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

#info .info-content-list .info-item-list {
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  /* max-width: 210px; */
}
