* {
  font-family: "Poppins", sans-serif;
}

#header {
  display: flex;
  justify-content: center;
  height: 120px;
  background-color: #daac00;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .logo img {
  max-width: 212px;
  display: inline;
}

#header .menu {
  flex: 1;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

#header .menu li {
  margin-right: 40px;
  display: inline;
}

#header .menu li a {
  color: #fff;
}

#header .input {
  display: flex;
  flex-direction: row;
  box-shadow: 16px 17px 18px rgba(74, 74, 74, 0.1);
}

#header .input-search {
  background-color: #fbc301;
  padding: 15px;
  width: 200px;
  height: 50px;
  font-size: 18px;
}

#header input::placeholder {
  color: #fff;
}

#header .btn-search {
  width: 70px;
  height: 50px;
  color: #fff;
  background-color: #00bdc9;
  font-size: 24px;
  letter-spacing: 1px;
}

#header .btn-search:hover {
  background-color: #028993;
  transition: 1s;
}

#header .menu li .active-menu {
  color: #00bdc9;
}

#header .active-menu i {
  margin-right: 10px;
  font-size: 15px;
  color: #00bdc9;
}

#header .menu .hover-menu:hover {
  color: #028993;
  transition: 1s;
}

#banner {
  display: flex;
  justify-content: center;
  height: 780px;
  background-color: #fbc301;
}

#banner .banner-content .banner-content-tittle {
  color: #fff;
  font-size: 67px;
  line-height: 80px;
  font-weight: 600;
  margin-bottom: 50px;
  letter-spacing: 1px;
}
#banner .banner-content .banner-content-desc {
  color: #fff;
  font-size: 29px;
  line-height: 43.5px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

#banner .banner-content .btn-1,
.btn-2 {
  width: 182px;
  height: 70px;
  padding: 15px;
  border-radius: 7px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  margin-right: 30px;
}

.btn-1 {
  background-color: #00bdc9;
}

.btn-2 {
  border: 3px solid #fff;
  background-color: #fbc301;
}

#banner .btn-1:hover {
  background-color: #028993;
  transition: 1s;
}

#banner .btn-2:hover {
  background-color: #daac00;
  border: none;
  transition: 1s;
}

#banner .banner-photo img {
  max-width: 420px;
  transform: scaleX(-1);
}

.content,
#post {
  padding: 140px 0;
  box-sizing: border-box;
  background-color: #fff;
}

.content .content-head .content-head-tittle {
  font-size: 50px;
  font-weight: 600;
  color: #313243;
  line-height: 60px;
  margin-bottom: 50px;
}

.content .content-head .content-head-desc {
  color: #313243;
  font-size: 29px;
  line-height: 43.5px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.content .content-head .btn-2 {
  background-color: #fbc301;
  width: 182px;
  height: 70px;
  padding: 15px;
  border-radius: 7px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
}

.content .content-head .btn-2:hover {
  background-color: #daac00;
}

.content-video {
  position: relative;
  margin-left: 90px;
}

.content .content-video .bg {
  width: 252px;
  height: 206px;
  background-color: #fdd345;
  position: absolute;
  z-index: 0;
  bottom: -30px;
  left: -30px;
}

.content .video-thumb .mask-thumb {
  width: 506px;
  height: 480px;
  position: absolute;
  z-index: 2;
  background-color: rgba(217, 171, 0, 0.3);
}

.content .video-thumb {
  max-width: 506px;
  position: relative;
  z-index: 1;
}

.content .content-video .circle-bg {
  width: 80px;
  height: 80px;
  border-radius: 42px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .circle-bg .video-icon-play {
  color: #fbc301;
  font-size: 32px;
}

#service,
#products {
  padding: 100px 0;
  background-color: #fbc301;
}

#service .service-head,
#products .products-head {
  text-align: center;
  color: #fff;
  max-width: 760px;
  margin: 0 auto;
}

#service .service-head .service-head-tittle,
#products .products-head .products-head-tittle,
#team .team-head .team-head-tittle,
#post .post-head .post-head-tittle {
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 50px;
}

#service .service-head .service-head-desc,
#products .products-head .products-head-desc,
#team .team-head .team-head-desc,
#post .post-head .post-head-desc {
  font-size: 33px;
  margin-bottom: 100px;
}

#service .service-list,
#products .products-list,
#team .team-list,
#info .info-content-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#service .service-list .service-item-list .item-list-img,
#products .products-list .products-item-list .item-list-img,
#team .team-list .team-item-list .item-list-img {
  margin-bottom: 50px;
}

#service .service-list .service-item-list .item-list-head {
  max-width: 342px;
  text-align: center;
  color: #fff;
}

#service .service-list .item-list-head .list-head-tittle {
  margin-bottom: 25px;
  font-size: 38px;
  font-weight: 600;
}

#service .service-list .item-list-head .list-head-desc {
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 35px;
}

/* .content reverse*/
.text-right {
  text-align: right;
  margin-left: 90px;
}

.video-left {
  margin-left: 0;
}

.video-left .bg-2 {
  width: 252px;
  height: 206px;
  background-color: #fdd345;
  position: absolute;
  z-index: 0;
  bottom: -30px;
  right: -30px;
}

#products .products-list .products-item-list .item-list-head {
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  max-width: 210px;
}

#products .products-list .products-item-list .item-list-head .list-head-price {
  color: #fff;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 30px;
}

#products .products-list .products-item-list .btn-rounded {
  background-color: #00bdc9;
  width: 200px;
  height: 60px;
  font-size: 25px;
  color: #fff;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
}

#products .products-list .products-item-list .btn-rounded:hover {
  background-color: #028993;
  transition: 1s;
}

#team {
  padding: 100px 0;
  background-color: #fff;
}

#team .team-head,
#post .post-head {
  text-align: center;
  color: #313243;
  max-width: 760px;
  margin: 0 auto;
}

#team .team-list .team-item-list {
  text-align: center;
}

#team .team-list .team-item-list .team-head-tittle {
  font-size: 29px;
  color: #313243;
  font-weight: 700;
  margin-bottom: 20px;
}

#team .team-list .team-item-list .team-head-desc {
  font-size: 25px;
  text-transform: uppercase;
  color: #313243;
  margin-bottom: 20px;
}

#team .item-list-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 180px;
  margin: 0 auto;
}

#team .item-list-links .link-midias .icon {
  font-size: 20px;
  color: #fff;
}

#team .item-list-links .link-midias .bg-circle {
  background-color: #fbc301;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

#team .item-list-links .link-midias .bg-circle:hover {
  background-color: #daac00;
  transition: 1s;
}

#info {
  background-image: url(./jpg/img-info.jpg);
  background-size: cover;
  background-position: center;
  max-height: 545px;
}

#info .info-content-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding: 140px 0;
}

#info .info-content-item .info-item-img {
  margin-bottom: 50px;
}

#info .info-item-head .info-item-tittle {
  font-size: 42px;
  font-weight: 500;
}

#info .info-item-head .info-item-desc {
  font-size: 38px;
  font-weight: 700;
}

#post .post-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#post .post-list-item {
  border: 1px solid #d3d3d3;
  width: 361px;
  height: 650px;
}

#post .post-list-item:hover {
  border: none;
  box-shadow: 16px 17px 18px rgba(74, 74, 74, 0.1);
}

#post .post-list-item .post-info {
  padding: 10px 30px;
  box-sizing: border-box;
}

#post .post-list-item .post-info-tittle {
  font-size: 25px;
  font-weight: 600;
  color: #313243;
  margin-bottom: 20px;
}

#post .post-list-item .post-date {
  text-transform: uppercase;
  color: #00bdc9;
  font-size: 17px;
}

#post .post-list-item .post-info-desc {
  font-size: 17px;
  line-height: 25px;
  margin: 20px 0;
}

#post .post-list-item .post-info-btn {
  color: #00bdc9;
  font-size: 20px;
  font-weight: 500;
  background-color: #fff;
}

#footer {
  background-color: #333333;
  padding: 150px 0 180px 0;
}

#footer .footer-menu {
  display: flex;
  flex-direction: row;
}

#footer .footer-menu .about,
.services {
  margin-right: 100px;
}

#footer .footer-menu .about-tittle,
.services-tittle {
  font-size: 38px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}

#footer .about-submenu .about-submenu-item,
.services-submenu .services-submenu-item {
  margin-bottom: 20px;
  font-size: 25px;
}

#footer .about-submenu .about-submenu-item a,
.services-submenu .services-submenu-item a {
  color: #fff;
}

#footer .about-submenu .about-submenu-item a:hover,
.services-submenu .services-submenu-item a:hover {
  color: #028993;
  transition: 1s;
}

#footer .footer-form .form-tittle {
  font-size: 38px;
  font-weight: 600;
  color: #fff;
  text-align: right;
}

#footer .footer-form .form-desc {
  margin-bottom: 50px;
  font-size: 25px;
  text-align: right;
  color: #fff;
}

#footer .footer-input {
  margin-bottom: 50px;
  display: flex;
  justify-content: right;
}

#footer .footer-input .input-text {
  background-color: #fbc301;
  height: 90px;
  width: 530px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

#footer .footer-input .btn-send {
  background-color: #00bdc9;
  width: 144px;
  height: 90px;
  position: absolute;
  z-index: 1;
}

#footer .footer-input .btn-send:hover {
  background-color: #028993;
  transition: 1s;
}

#footer .footer-input .btn-send i {
  color: #fff;
  font-size: 35px;
  margin: 0 auto;
}

#footer .link-midias {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#footer .link-midias .item-list-links {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
}

#footer .link-midias .item-list-links .icon {
  font-size: 25px;
  color: #313243;
}

#footer .item-list-links .link .bg-circle {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 23px;
  text-align: center;
  margin-left: 15px;
}

#footer .link-midias .item-list-links .icon:hover {
  color: #fff;
  transition: 1s;
}

#footer .item-list-links .link .bg-circle:hover {
  background-color: #fbc301;
  transition: 1s;
}

/* telas especificas */
@media (max-width: 1300px) {
  .container {
    max-width: 1120px;
  }
}

/* telas pequenas de 992px até 1199px (redução de 90%)*/
@media (max-width: 1199px) {
  .container {
    max-width: 940px;
  }

  #header .logo img {
    max-width: 180px;
  }

  #header .menu {
    font-size: 20px;
  }

  #header .menu li {
    margin-right: 15px;
  }

  #header .active-menu i {
    margin-right: 5px;
  }

  #header .input-search {
    width: 180px;
  }

  #header .btn-search {
    font-size: 22px;
  }

  #banner .banner-content .banner-content-tittle {
    font-size: 60px;
    line-height: 72px;
  }

  #banner .banner-content .banner-content-desc {
    font-size: 26px;
    line-height: 39px;
  }

  #banner .banner-photo img {
    max-width: 380px;
  }

  #banner .banner-content .btn-1,
  .btn-2 {
    width: 164px;
    height: 62px;
    font-size: 18px;
  }

  #banner .banner-content .btn-1 {
    margin-right: 25px;
  }

  .btn-2 {
    margin-right: 0;
  }

  .content .content-head .content-head-tittle {
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 45px;
  }

  .content .content-head .content-head-desc {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 45px;
  }

  .content-video {
    margin-left: 80px;
  }

  .content .content-video .bg {
    width: 227px;
    height: 185px;
  }

  .content .video-thumb .mask-thumb {
    width: 456px;
    height: 432px;
  }

  .content .video-thumb img {
    max-width: 456px;
  }

  .content .content-head .btn-2 {
    width: 164px;
    height: 62px;
    font-size: 18px;
  }

  #service .service-head .service-head-tittle,
  #products .products-head .products-head-tittle,
  #team .team-head .team-head-tittle,
  #post .post-head .post-head-tittle {
    font-size: 68px;
    font-weight: 700;
    margin-bottom: 45px;
  }

  #service .service-head .service-head-desc,
  #products .products-head .products-head-desc,
  #team .team-head .team-head-desc,
  #post .post-head .post-head-desc {
    font-size: 30px;
    margin-bottom: 90px;
  }

  #service .service-list .service-item-list .item-list-img,
  #products .products-list .products-item-list .item-list-img,
  #team .team-list .team-item-list .item-list-img {
    margin-bottom: 45px;
  }

  #service .service-list .service-item-list .item-list-img img {
    max-width: 308px;
  }

  #service .service-list .service-item-list .item-list-head {
    max-width: 308px;
  }

  #service .service-list .item-list-head .list-head-tittle {
    margin-bottom: 22px;
    font-size: 34px;
  }

  #service .service-list .item-list-head .list-head-desc {
    margin-bottom: 22px;
    font-size: 22px;
    line-height: 32px;
  }

  .content .video-left {
    margin-left: 0;
  }

  .content .video-left .bg-2 {
    width: 227px;
    height: 185px;
  }

  #products .products-list .products-item-list .item-list-img img {
    max-width: 308px;
  }

  #products .products-list .products-item-list .item-list-img {
    margin-bottom: 40px;
  }

  #products
    .products-list
    .products-item-list
    .item-list-head
    .list-head-price {
    font-size: 38px;
    margin-bottom: 27px;
  }

  #products .products-list .products-item-list .btn-rounded {
    width: 180px;
    height: 56px;
    font-size: 22px;
  }

  #team .team-list .team-item-list .item-list-img img {
    max-width: 308px;
  }

  #team .team-list .team-item-list .team-head-tittle {
    font-size: 26px;
    margin-bottom: 18px;
  }

  #team .team-list .team-item-list .team-head-desc {
    font-size: 22px;
    margin-bottom: 18px;
  }

  #info .info-content-item .info-item-img {
    margin-bottom: 45px;
  }

  #info .info-item-head .info-item-desc {
    font-size: 34px;
  }

  #info .info-item-head .info-item-tittle {
    font-size: 38px;
  }

  #post .post-list-item {
    width: 308px;
    height: 585px;
  }

  #post .post-list-item .post-img img {
    max-width: 308px;
  }

  #post .post-list-item .post-info {
    padding: 9px 27px;
  }

  #post .post-list-item .post-info-tittle {
    font-size: 22px;
    margin-bottom: 18px;
  }

  #post .post-list-item .post-date {
    font-size: 15px;
  }

  #post .post-list-item .post-info-desc {
    font-size: 15px;
    line-height: 22px;
    margin: 18px 0;
  }
  #post .post-list-item .post-info-btn {
    font-size: 18px;
  }

  #footer .footer-menu .about-tittle,
  .services-tittle {
    font-size: 34px;
    margin-bottom: 27px;
  }

  #footer .footer-menu .about,
  .services {
    margin-right: 90px;
  }

  #footer .about-submenu .about-submenu-item,
  .services-submenu .services-submenu-item {
    margin-bottom: 18px;
    font-size: 22px;
  }

  #footer .footer-form .form-tittle {
    font-size: 34px;
  }

  #footer .footer-form .form-desc {
    margin-bottom: 45px;
    font-size: 22px;
  }

  #footer .footer-input {
    margin-bottom: 45px;
  }

  #footer .footer-input .input-text {
    background-color: #fbc301;
    height: 81px;
    width: 477px;
    padding: 9px;
    font-size: 18px;
  }
  #footer .footer-input .btn-send {
    width: 130px;
    height: 81px;
  }

  #footer .item-list-links .link .bg-circle {
    background-color: #fff;
    width: 36px;
    height: 36px;
  }
}
/* tablets de 768px até 991px */
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

/* celular abaixo de 767px */
@media (max-width: 767px) {
}
